# 용산구_자동차등록 순위
* 서울시 자동차 등록현황(동별, 연료별)(20190430).xls 이용
* 서울시 주차장(동별) 통계.xls 이용
* 자동차 등록현황 / 주차장 수 -> 순위 선정

In [1]:
import pandas as pd
import numpy as np

## 용산구_주차장 데이터

In [2]:
pk = pd.read_excel("data/서울시 주차장(동별) 통계.xls")

In [3]:
columns = ["자치구", "동", "합계.1"]
pk = pk[columns].copy()
pk = pk.drop([0])

In [4]:
# 용산구
is_y = pk['자치구'] == '용산구'
pk_y = pk[is_y]
pk_y.head()

    자치구      동    합계.1
37  용산구     소계  102472
38  용산구    후암동    4561
39  용산구  용산2가동    1684
40  용산구    남영동    5405
41  용산구  원효로2동    5196

In [5]:
#컬럼 이름 변경
pk_y.rename(columns = {'합계.1' : '주차장'}, inplace = True)
pk_y

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    자치구      동     주차장
37  용산구     소계  102472
38  용산구    후암동    4561
39  용산구  용산2가동    1684
40  용산구    남영동    5405
41  용산구  원효로2동    5196
42  용산구    효창동    2991
43  용산구    용문동    3877
44  용산구   이촌1동   10380
45  용산구   이촌2동    2322
46  용산구  이태원1동    2742
47  용산구  이태원2동    4017
48  용산구   서빙고동    6527
49  용산구    보광동    2033
50  용산구    청파동    5743
51  용산구  원효로1동    7882
52  용산구   한강로동   21443
53  용산구    한남동   15669

In [6]:
# 동 같게 만들기
pk_y.loc[44] = ('용산구', '이촌동', 12702)
pk_y.loc[46] = ('용산구', '이태원동', 6759)
pk_y = pk_y.drop(index = [45, 47])
pk_y

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

    자치구      동     주차장
37  용산구     소계  102472
38  용산구    후암동    4561
39  용산구  용산2가동    1684
40  용산구    남영동    5405
41  용산구  원효로2동    5196
42  용산구    효창동    2991
43  용산구    용문동    3877
44  용산구    이촌동   12702
46  용산구   이태원동    6759
48  용산구   서빙고동    6527
49  용산구    보광동    2033
50  용산구    청파동    5743
51  용산구  원효로1동    7882
52  용산구   한강로동   21443
53  용산구    한남동   15669

## 자동차 등록현황 데이터

In [7]:
c = pd.read_excel("data/서울시 자동차 등록현황(동별, 연료별)(20190430).xls")

In [8]:
columns = ["사용본거지법정동명", "동별 총 대수"]
c = c[columns].copy()
c = c.drop([0])

In [9]:
#용산구 수동 추출
c_y = c.loc[163:197]

#index 초기화
c_y = c_y.reset_index()
c_y = c_y.drop(columns=['index'], axis=1)

#컬럼 이름 변경
c_y.rename(columns = {'사용본거지법정동명' : '동'}, inplace = True)
c_y.rename(columns = {'동별 총 대수' : '대수'}, inplace = True)
c_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동       35 non-null     object
 1   대수      35 non-null     int64
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes

In [10]:
# 동 같게 만들기
c_y.loc[0] = ('용산2가동', 2281)
c_y.loc[3] = ('남영동', 245)
c_y.loc[7] = ('청파동', 3084)
c_y.loc[10] = ('원효로1동', 2004)
c_y.loc[11] = ('원효로2동', 792)
c_y.loc[17] = ('효창동', 2732)
c_y.loc[19] = ('용문동', 1727)
c_y.loc[22] = ('한강로동', 11115)
c_y.loc[27] = ('이촌동', 14534)
c_y.loc[28] = ('이태원동', 4821)
c_y.loc[29] = ('한남동', 7210)
c_y.loc[31] = ('서빙고동', 2160)
c_y.loc[34] = ('보광동', 3162)
c_y = c_y.drop(index = [1, 2, 4, 5, 6, 8, 9, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 25, 26, 30, 32, 33])
c_y

        동     대수
0   용산2가동   2281
3     남영동    245
7     청파동   3084
10  원효로1동   2004
11  원효로2동    792
17    효창동   2732
19    용문동   1727
22   한강로동  11115
27    이촌동  14534
28   이태원동   4821
29    한남동   7210
31   서빙고동   2160
34    보광동   3162

## 순위 선정

In [11]:
#데이터 병합
df = pd.merge(pk_y, c_y, how='outer')
df = df.sort_values(by=['동'])

#Null 값 제거
df = df.dropna(0)
df

    자치구      동    주차장       대수
3   용산구    남영동   5405    245.0
10  용산구    보광동   2033   3162.0
9   용산구   서빙고동   6527   2160.0
6   용산구    용문동   3877   1727.0
2   용산구  용산2가동   1684   2281.0
12  용산구  원효로1동   7882   2004.0
4   용산구  원효로2동   5196    792.0
7   용산구    이촌동  12702  14534.0
8   용산구   이태원동   6759   4821.0
11  용산구    청파동   5743   3084.0
13  용산구   한강로동  21443  11115.0
14  용산구    한남동  15669   7210.0
5   용산구    효창동   2991   2732.0

In [12]:
df['result'] = df['대수'] / df['주차장']
df = df.sort_values(by=['result'], ascending=False)
df

    자치구      동    주차장       대수    result
10  용산구    보광동   2033   3162.0  1.555337
2   용산구  용산2가동   1684   2281.0  1.354513
7   용산구    이촌동  12702  14534.0  1.144229
5   용산구    효창동   2991   2732.0  0.913407
8   용산구   이태원동   6759   4821.0  0.713271
11  용산구    청파동   5743   3084.0  0.537002
13  용산구   한강로동  21443  11115.0  0.518351
14  용산구    한남동  15669   7210.0  0.460144
6   용산구    용문동   3877   1727.0  0.445448
9   용산구   서빙고동   6527   2160.0  0.330933
12  용산구  원효로1동   7882   2004.0   0.25425
4   용산구  원효로2동   5196    792.0  0.152425
3   용산구    남영동   5405    245.0  0.045328